.button-primary-blue {
  --button-border: theme('colors.blue.600');
  --button-color: theme('colors.white');
  --button-bg: theme('colors.blue.600');

  @apply button-theme;

  &:hover {
    &:where(:not([class*='button-arrow'])) {
      --button-border: theme('colors.blue.800');
      --button-bg: theme('colors.blue.800');
    }

    &:where([class*='button-arrow']) {
      --button-border: theme('colors.blue.DEFAULT');
      --button-bg: theme('colors.blue.DEFAULT');
    }
  }

  &.disabled,
  &:disabled,
  &[data-disabled='true'] {
    --button-border: theme('colors.gray.400');
    --button-bg: theme('colors.gray.400');
    --button-arrow-bg: theme('colors.white / 40%');
    --button-arrow-color: theme('colors.gray.400');
    --button-arrow-border: theme('colors.gray.400');
  }
}
