.choices {
  $self: &;

  --choices-rounded: 100vmax;

  &__inner {
    @apply inline-flex items-center py-0;

    &:has(#{$self}__list:not(:empty)) {
      @apply gap-2;
    }
  }

  &__input {
    @apply m-0 inline-block h-11 max-w-full border-none bg-transparent px-0 font-b2 md:h-12 xl:h-13;

    box-shadow: none;

    vertical-align: baseline;
  }

  &__item {
    &.is-selected {
      @apply text-blue-800;
    }

    &.is-highlighted {
      @apply bg-transparent;
    }
  }

  &.is-open {
    [data-icon='choices'] {
      @apply rotate-[180deg];
    }
  }
}
